<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/assets/markdown-toolbar.js" type="text/javascript"></script>
    <link href="/assets/markdown-toolbar.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>Markdown Toolbar. v: <%= Markdown::Toolbar::VERSION %><h1>
    <textarea class='markdown-toolbar' style='width:400px;height:300px' onresize='console.log("resized")'></textarea>
  </body>
</html>